body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

/** Was used for links */
.oldlink {
  color: #00B7FF;
  text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
}

.result {
    padding: 5px;
}

.result:nth-of-type(odd) {
    background-color: #EFF; 
    background-image: linear-gradient(to right, #AAA, transparent);
}

.result:nth-of-type(even) {
    background-color: #EEE;
    background-image: linear-gradient(to left, #AAA, transparent);
}

.result-title {
    color: blue;
}

.result-url {
    color: #555;
}


.result-flag {
    color: #0F0;
}

h1 {
    margin-bottom: 0;
}
.subtitle {
    margin-top: 0;
    font-style: italic;
}
#nbmatches {
    margin-right: 5px;
}

.search {
    width: 50%;
    margin: auto;
}

h1 {
    display: inline;
    margin-right: 12px;
}

.footer {
/*    background-color: red; */
    height: 50px;
    margin-top: 50px;
}
