extends layout

block content
  p
    a.oldlink(href="/stats") stats
  .search
    input#idquery(type="search",placeholder="search...",oninput="updateResult(this.value)" value=`${query}`)
    button(type="submit",onclick="onQuery(false)") Search
    button(onclick="onQuery(true)") I'm lucky
  .matches-test
    span(id="nbmatches")
    documents matches your search. Only printing 100 first ones

  #suggest-list

  if query
    p Result for the search : #{query}

  #results-list
    if results
      p #{results.length} urls found!
      each r in results
        .result
          a(href=r.url)
            .result-title= r.title
          .result-url= r.url
          .result-category r.category
          // each f in r.flags
            // .result-flag f

  script(src="gen-out.js")
  script(src="javascripts/result.js")