doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  .title
    h1= title
    span.subtitle v0.0.3-13
  p.subtitle Indexing the dark web.
  body
    block content
    footer.footer
        a(href='https://gitlab.com/solebull/dwse') Repo
        span (c) &mdash; Released under GPLv3.
