a {
    color: black;
    text-decoration: none;
}

.result-even {
    background-color: #EEE;
    padding: 5px;
}

.result-odd {
    background-color: #EFF;
    padding: 5px;
}

.result-title {
    color: blue;
}

.result-url {
    color: #555;
}


.result-flag-nsfw::before {
    content: "nsfw";
}

.result-flag-nsfl::before {
    content: "nsfl";
}
